:root {
  --md-primary-fg-color:        #0033a0;
  --md-primary-fg-color--light: #009cde;
  --md-primary-fg-color--dark:  #0072ce;
}

.md-typeset h1,
.md-typeset h2 {
  color: black;
  font-weight: bold;
  letter-spacing: -0.02em;
}
