<section class="section summary-section">
  <!--<h2 class="section-title"><i class="fa fa-user"></i>About</h2>-->
  <h2 class="section-title">About</h2>
  <div class="summary">
    <p>
    I am a PhD student advised by <a href="http://geometry.stanford.edu/member/guibas/" target="_blank">Leonidas Guibas</a> in computer science department at <a href="https://www.stanford.edu/" target="_blank">Stanford university</a>. Priviously, I was working as a researcher at <a href="https://eng.kist.re.kr/kist_eng/main/" target="_blank">Korea Institute of Science and Technology (KIST)</a>, and received and master's bachelor's degrees in computer science at <a href="http://www.kaist.edu/" target="_blank">Korea Advanced Institute of Science and Technology (KAIST)</a>. I've interned at <a href="https://www.google.com/" target="_blank">Google</a>, <a href="https://research.adobe.com/" target="_blank">Adobe Research</a>, and <a href="https://www.autodeskresearch.com/" target="_blank">Autodesk Research</a>.
    My research interests include (but not limited to) computer graphics and vision, geometry processing and modeling, and machine learning based 3D shape analysis.
    </p>

    <i class="fa fa-file-pdf-o"></i> <a href="https:{{site.cv}}">Download CV</a>

  </div><!--//summary-->
</section><!--//section-->
