{% assign announcements = site.data.announcements.announcements %}

{% if announcements.size > 0 %}
<section class="section announcement-section">

    <h2 class="section-title">
        Announcements
    </h2>

    <div class="announcement-table">
        {% for item in announcements %}

        <div class="announcement-table-row">
            {% if item.link %}
                <div class="announcement-cell">
                    <a href="{{ site.baseurl }}/{{ item.link }}" target=_blank>{{ item.title }}</a>
                </div>
            {% else %}
                <div class="announcement-cell">
                    {{ item.title }}
                </div>
            {% endif %}
            </mark>
        {% endfor %}
    </div>


</section><!--//section-->
{% endif %}
