<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Courses</h2>-->
  <h2 class="section-title">Courses</h2>

  <div class="table">

    <div class="table-row">
      <div class="description-cell">
        <b>
        <a href="https://mhsung.github.io/kaist-cs492d-fall-2021/" target="_blank">
          CS492(D): Geometric Modeling and Processing, Fall 2021.
        </a>
        <br>
        <a href="{{site.baseurl}}/courses/kaist-cs492h-spring-2021/" target="_blank">
          CS492(H): Machine Learning for 3D Data, Spring 2021.
        </a>
        </b>
      </div>
    </div>

  </div> 

  </br>

</section><!--//section-->
