<!--
<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h5 class="meta">Stanford University</h5>
    <div class="time">2013 - Now</div>
</div>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">korea Advanced Institute of Science and Technology</h5>
    <div class="time">2008 - 2010</div>
</div>
<div class="item">
    <h5 class="meta">korea Advanced Institute of Science and Technology</h5>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2004 - 2008</div>
</div>
</div>
-->
