{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

    <div class="profile-container">

        {% if sidebar.name %}
        <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" /> 
        {% endif %}

        {% if sidebar.name %}
        <h1 class="name">{{ sidebar.name }}</h1>
        {% endif %}

        {% if sidebar.tagline %}
        <h3 class="tagline">{{ sidebar.tagline | markdownify }}</h3>
        {% endif %}

        <h3 class="group-name"><b><a href="https://visualai.kaist.ac.kr/" target="_blank">KAIST Visual AI Group</a></b></h3>

        <h3 class="icon">
            <a href="mailto:mhsung@kaist.ac.kr"><i class="fas fa-envelope"></i></a>  
            &nbsp;
            <a href="https://x.com/minhyuksung" target="_blank"><i class="fab fa-twitter"></i></a>  
            &nbsp;
            <a href="https://scholar.google.com/citations?user=PcIYMp4AAAAJ" target="_blank"><i class="ai ai-google-scholar-square ai-1x"></i></a>  
            &nbsp;
            <a href="https://github.com/mhsung" target="_blank"><i class="fab fa-github"></i></a>  
            &nbsp;
            <a href="https://{{ sidebar.cv }}" target="_blank"><i class="ai ai-cv-square ai-1x"></i></a>  
        </h3>

    </div><!--//profile-container-->

    {% include contact.html %}
    {% include courses.html %}
    <!-- include students.html -->

</div><!--//sidebar-wrapper-->
