/* KAIST variables */
$theme-color: #0032A0;          /* PANTONE  286 C */
$text-color: #0032A0;           /* PANTONE  286 C */
$text-color-secondary: #2D2926; /* PANTONE  Black C */
$text-grey: #0072CE;            /* PANTONE  285 C */
$heart: #fb866a;
$background-color: #f5f5f5;
